{% extends "_layout.html" %}{% block body %}
<table width="100%" height="80%"><tr><td align="center" valign="middle">
<table border="1" cellpadding="6" cellspacing="0" bgcolor="#ffffff">
<tr><td class="hdr" colspan="2">{{ v.institution }} &mdash; Teller Sign On</td></tr>
{% if expired %}<tr><td colspan="2" class="err">Your session has expired. Please sign on again.</td></tr>{% endif %}
{% if bad_login %}<tr><td colspan="2" class="err">Invalid user ID or password.</td></tr>{% endif %}
{% if signed_off %}<tr><td colspan="2">You have been signed off.</td></tr>{% endif %}
<form method="post" action="/login" target="_top">
<tr><td>User ID</td><td><input type="text" name="userid" size="16"></td></tr>
<tr><td>Password</td><td><input type="password" name="passwd" size="16"></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="Sign On"></td></tr>
</form>
</table></td></tr></table>
{% endblock %}
